.AboutMe__intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}

.aboutMe__content {
    color: #fff;
    text-align: center;
}

.aboutMe__content h1 {
    text-align: left;
    margin-bottom: 2rem;
}

.aboutMe__content p {
    font-size: 1.1em;
    text-align: justify;
}

.aboutMe__image {
    width: 100%;
    margin: 3rem 0;
}

.AboutMePage__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.AboutMe__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.AboutMe__element {
    width: 26%;
}

.AboutMe__element h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
    border-bottom: 0.1rem solid white;
    text-align: center;
}

.AboutMe__element p {
    padding-top: 2rem;
    color: #fff;
    text-align: justify;
}

.AboutMe__button {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}