.contact__content {
    width: 80%;
    color: #fff;
    margin: 0 auto 0 auto;
}

.contact__content h1 {
    margin-bottom: 2rem;
}

.contact__form {
    width: 70%;
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.contact__form h2 {
    font-weight: 100;
    font-size: 1.3em;
    margin-bottom: 0.5rem;
}

.contact__theme {
    width: 100%;
}

.input {
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgb(226, 226, 226);
    font-family: 'Montserrat',
        sans-serif;
    resize: vertical;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}

.input:hover {
    background-color: white;
}

.input:focus {
    background-color: white;
}

.theme__input,
.email__input {
    height: 2.5rem;
}

.body__input {
    min-height: 15rem;
}

.contact__checkboxes {
    margin-top: 2rem;
}

.contact__checkboxes h2 {
    display: inline-block;
    margin-left: 2.5rem;
}

.contact__checkbox {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.contact__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    border: 0.5px solid #03F8D6;
    box-shadow: 0 0 3px #03F8D6;
    transition: 0.5s ease;
}

.checkmark:hover {
    background-color: #03F8D6;
}

.contact__button {
    position: absolute;
    right: 0;
}