.CoopPage__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}

.cooperation {
    width: 100%;
    color: #fff;
    text-align: left;
}

.cooperation h1 {
    margin-bottom: 0.5rem;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1.5rem;

}

.cooperator__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 1.5rem;
}

.cooperator__element {
    display: block;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
    width: 25%;
}

.cooperator__img {
    max-width: 80%;
    transition: all 0.5s ease-in-out;
}

.cooperator__element p {
    color: #fff;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.cooperator__element:hover {
    transform: scale(1.2);
}

.cooperator__element:hover p {
    visibility: visible;
    transition: all 1s ease-in-out;
}

.sponsors {
    width: 100%;
    color: #fff;
    text-align: left;
    height: 30vh;
}

.sponsors h1 {
    margin-bottom: 0.5rem;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}