.HistoryPage__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.history__content {
    width: 45%;
    color: #fff;
    text-align: left;
}

.history__content h1 {
    margin-bottom: 0.5rem;
}

.history__content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 3rem;
}

.history__content p {
    font-size: 1.1em;
    text-align: justify;
}

.history__image {
    width: 45%;
}

.HistoryPage__button {
    padding-top: 5rem;
    margin: 0 auto 0 auto;
}