.LandingPage__news,
.LandingPage_aboutUs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__content,
.aboutUs__content,
.news__image,
.aboutUs__image
{
  width: 45%;
}

.news__content,
.aboutUs__content{
  color: #fff;
  text-align: center;
}

.news__content h1{
  margin-bottom: 0.5rem;
}

.aboutUs__content h1{
  margin-bottom: 2rem;
}

.news__content h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 3rem;
}

.news__content p,
.aboutUs__content p{
  font-size: 1.1em;
  text-align: justify;
}

.news__opers{
  width: 100%;
  position: relative;
}

.news__opers a{
  position: absolute;
  right: 0;
}

.aboutUs__linkBox{
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  width: 100%;
}

.projects__link{
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.projects__slider{
  display: flex;
  justify-content: space-between;
}

.slider__element{
  width: 25%;
}

.slider__arrow{
  background: none;
  border: none;
}

.slider__arrow--next{
  transform: scaleX(-1);
}

.slider__arrow img{
  height: 2.5em;
}

.slider__element img{
  width: 100%;
}