.LoginPage {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#042331 4rem, #0D3949)
}

.login__content {
    width: 50%;
    height: 55vh;
    text-align: center;
    color: #fff;
    margin: 0 auto 0 auto;
    padding-top: 12rem;
    font-family: 'Montserrat', sans-serif;
}

.login__content h1 {
    margin-bottom: 4rem;
}

.login__inputs {
    width: 70%;
    margin: 0 auto 0 auto;
    position: relative;
}

.login__inputs h2 {
    font-weight: 100;
    font-size: 1.3em;
    margin-bottom: 0.5rem;
}

.input {
    font-family: 'Montserrat',
        sans-serif;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgb(226, 226, 226);
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}

.input:hover {
    background-color: white;
}

.input:focus {
    background-color: white;
}

.login__checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
}

.login__checkbox h2 {
    display: inline-block;
    margin: 0 0 0 2rem;
}

.login__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    border: 0.5px solid #03F8D6;
    box-shadow: 0 0 3px #03F8D6;
    transition: 0.5s ease;
}

.checkmark:hover {
    background-color: #03F8D6;
}

.login__button {
    position: absolute;
    padding-top: 3rem;
    right: 0;
}