.ManagementPage{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.ManagementPage h1{
  margin: 40px 0 80px 0;
}

.ManagementPage h2{
  font-weight: 500;
  text-transform: uppercase;
}

.ManagementPage__people{
  display: flex;
  justify-content: center;
}

.ManagementPage__people .person{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 80px;
  width: 300px;
}

.ManagementPage__people .person .person__photo{
  border: 3px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 200px;
}

.ManagementPage__people .person p{
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  margin: 20px 0;
  padding: 40px 0;
}

.ManagementPage__people .person_social img{
  margin: 0 10px;
  width: 50px;
}