.NewsPage {
  font-family: 'Montserrat', sans-serif;
  color: #fff;

}

.NewsPage h1 {
  color: #fff;
  margin: 2rem 0;
}

.news__list {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.news__list h1 {
  text-align: left;
}

.news__list h2 {
  font-size: 1.3em;
  font-weight: 400;
}

.news__content {
  position: relative;
  width: 100%;
  max-height: 10rem;
  margin: 1rem 0;
  overflow-y: hidden;
  transition: 1s ease-in-out;
}

.content__expand {
  min-height: 10rem;
}

.news__date {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}

.news__date h2 {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.news__text {
  float: left;
  border-left: 0.1rem solid #fff;
  padding: 0 1rem 1rem;
  width: 80%;
}

.news__text p {
  font-size: 1rem;
}

.news__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 2rem;
  width: 100%;

}

.news__title h2 {
  font-size: 1.3em;
  font-weight: 400;
}

.button__clicked {
  color: #03F8D6;
  text-shadow: 0 0 10px #03F8D6;
}

.button__clicked:hover {
  text-shadow: 0 0 4px #03F8D6;
}

.news__body {
  text-align: justify;
  margin-top: 1rem;
}

.SingleNewsPage__content .date {
  margin-bottom: 30px;
}

.SingleNewsPage__content img {
 display: block;
 margin: 30px auto;
}