.ProjectPage{
  color: #fff;
}

.ProjectPage__content h1{
  margin-bottom: 60px;
}

.ProjectPage__content img{
  width: 100%;
  margin-bottom: 40px;
}

.ProjectPage__content p{
  width: 80%;
  margin: 0 auto;
  line-height: 25px;
}