*{
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
.projects__switch button{
  font-size: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
}

button{
  outline: none;
  cursor: pointer;
}

p{
  font-family: 'Montserrat', sans-serif;
}