{% extends "telephoners_webpage/header.html" %}

{% block content %}
<div class="Registration__Page">
  <div class="Registration__content">
    <div class="logout__content">
      <p>Logged out!</p>
      <a href="{% url 'login'%}">Click here to login again.</a>
    </div>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function () { window.location = "/"; }, 3000);
</script>
{% endblock %}