{% extends "telephoners_webpage/header.html" %}


{% block content %}
<div class="Registration__Page">
  <div class="Registration__content">
    <div class="reset__content">
      <h2>Zresetuj hasło</h2>
      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        <table>
          <tr>
            <td>Podaj email:</td>
            <td>{{ form.email }}</td>
          </tr>
        </table>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
      </form>
    </div>
  </div>
</div>
{% endblock %}