{% extends "telephoners_webpage/header.html" %}

{% block content %}
<div class="Registration__Page">
  <div class="Registration__content">
    <h1>The password has been changed!</h1>
    <p><a href="{% url 'login' %}">log in again?</a></p>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function () { window.location = "/"; }, 3000);
</script>
{% endblock %}