{% extends "telephoners_webpage/header.html" %}


{% block content %}
<div class="Registration__Page">
  <div class="Registration__content">
    <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your
      spam
      folder.</p>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function () { window.location = "/"; }, 3000);
</script>
{% endblock %}