.Registration__Page {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat',
        sans-serif;
    background: linear-gradient(#042331 4rem, #0D3949);
    margin-bottom: -2rem;
    position: relative;
    color: white;
}

.Registration__Page p {
    font-weight: 100;
    font-size: 1.3em;
}

.Registration__Page a {
    color: #03F8D6;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-shadow: 0 0 10px #03F8D6;
}

.Registration__Page input[type=submit] {
    cursor: pointer;
}

.Registration__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Registration__content h2 {
    font-weight: 100;
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.Registration__content h1 {
    margin-bottom: 2rem;
}

.Registration__Page input {
    margin: 1rem;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgb(226, 226, 226);
    font-family: 'Montserrat',
        sans-serif;
    resize: vertical;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}

.Registration__Page tbody {
    margin: 0 auto;
}

input:hover {
    background-color: white;
}

input:focus {
    background-color: white;
}

.login__content table {
    margin-right: 5rem;
}

.logout__content p {
    margin-bottom: 2rem;
}

.reset__content table {
    margin-right: 6.5rem;
}