<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Saira:100,400,600&display=swap&subset=latin-ext"
    rel="stylesheet">
  <base href="/">
  <link rel="stylesheet" href="../../static/css/index.css">
  <link rel="stylesheet" href="../../static/css/components/buttons.css">
  <link rel="stylesheet" href="../../static/css/components/section.css">
  <link rel="stylesheet" href="../../static/css/registration/login.css">
  {% comment %} css and js scripts go here {% endcomment %}
</head>

<body>

  {% block content%}
  {% endblock %}
</body>

</html>
