{% extends 'telephoners_webpage/header.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
<script>
    window.props = {
        projects:`{{projects|safeseq|join:""}}`,
        news: `{{news|safeseq|join:""}}`
    }
</script>
<div id="landing_page"></div>

{% render_bundle 'LandingPage' %}

{% endblock %}