{% extends 'telephoners_webpage/header.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
<script>
    window.props = `{{projects|safeseq|join:""}}`;
</script>
<div id="projects"></div>
{% render_bundle 'ProjectsPage' %}

{% endblock %}