{% extends 'telephoners_webpage/header.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
<script>
    window.props = `{{news|safeseq|join:""}}`;
</script>
<div id="singleNews"></div>
{% render_bundle 'SingleNewsPage' %}

{% endblock %}