.Cta,
.Cta--link{
  color: #03F8D6;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-shadow: 0 0 10px #03F8D6;
  transition: 0.2s ease;
}

.Cta:hover,
.Cta--link:hover{
  text-shadow: 0 0 4px #03F8D6;
}

.Cta--link{
  text-transform: uppercase;
  font-size: 1.8em;
  display: flex;
  align-items: center;
}

.Cta--link img{
  height: 1.5em;
  margin-left: 1rem;
}