.Footer{
  background: linear-gradient(#082F3E, #0F2C36);
  clip-path: polygon(20vw 8rem, 100% 2rem, 100% 101%, 0 101%, 0 0);
  padding: 0 1rem;
}

.Footer__content{
  display: flex;
  justify-content: space-between;
  max-width: calc(1200px + 2.8rem);
  margin: 0 auto;
  padding: 10rem 2.8rem 0 2.8rem;
}

.Footer__info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Footer p,
.Footer__content h2, 
.Footer__content a{
  color: #fff;
  font-family: 'Saira', sans-serif;
}

.Footer__content h2{
  font-size: 1.2em;
  margin: 1rem 0;
}

.Footer__content a{
  display: block;
  margin-bottom: 0.5rem;
  opacity: 0.8;
  text-decoration: none;
  transition: 0.2s;
}

.Footer__content a:hover{
  opacity: 1;
}

.Footer__content img{
  margin-right: 1.5rem;
  height: 3em;
  opacity: 0.8;
  transition: 0.2s;
}

.Footer__content img:hover{
  opacity: 1;
}

.Footer__contact .contact__socialMedia{
  display: flex;
}

.Footer__info div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  opacity: 0.8;
}

.Footer__info p{
  display: flex;
  align-items: center;
}

.Footer__info div p{
  font-weight: 100;
}

.Footer__info div img{
  height: 5em;
}

.nav__data{
  display: flex;
}

.nav__data div{
  margin-right: 2rem;
}