.Invitation {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  position: relative;
  width: 95%;
  height: 3rem;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  padding: 3rem 0 3rem 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.Invitation h2 {
  font-size: 1.5rem;
  font-weight: 100;
  position: absolute;
  margin: 0;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Invitation__button {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}