.Menu{
  align-items: center;
  background: #052431;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.8rem;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.Menu__links .Cta{
  margin-left: 5.5rem;
}

.Menu__links .link{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 3.5rem;
  text-decoration: none;
  transition: 0.2s;
}

.Menu__links .link:hover{
  text-shadow: 0 0 4px #ffffff9d;
}

.Menu__logo{
  height: 3.5em;
}