.Project{
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 100px;
}

.Project:hover .Project__link{
  opacity: 1;
}

.Project:hover .Project__photo div::before{
  opacity: 0.6;
}

.Project h2{
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 30px;
}

.Project p{
  margin-top: 50px;
}

.Project__desctiption{
  margin-right: 40px;
  width: 60%;
}

.Project__desctiption .decription__tag{
  background: #164658;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 8px 20px;
  width: auto;
}

.Project__photo{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 400px;
  height: 200px;
}

.Project__photo div::before{
  background: linear-gradient(#042331 4rem, #0D3949);
  content: '';
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: 0.2s;
  width: 100%;
  z-index: 2;
}

.Project__photo div{
  /* overflow: hidden; */
  height: 100%;
  position: absolute;
  z-index: 1;
}

.Project__photo div img{
  /* width: 400px; */
  max-height: 200px;
}

.Project__link{
  opacity: 0;
  position: absolute;
  transition: 0.2s;
  z-index: 3;
}