.Section {
  background: linear-gradient(#042331 4rem, #0D3949);
  margin-bottom: -2rem;
  position: relative;
}

.Section--even {
  clip-path: polygon(0 0, 20vw 8rem, 100% 2rem, 100% calc(100% - 8rem), 80vw 100%, 0 calc(100% - 6rem));
  padding-top: 8rem;
}

.Section--first {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6rem), 20vw 100%, 0 calc(100% - 8rem));
}

.Section--odd {
  clip-path: polygon(0 2rem, 80vw 8rem, 100% 0, 100% calc(100% - 6rem), 20vw 100%, 0 calc(100% - 8rem));
  padding-top: 8rem;
}

.Section::before {
  background: #fff;
  bottom: 0;
  content: '';
  height: 15rem;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}

.Section--even::before {
  clip-path: polygon(0 calc(100% - 6rem), 80vw 12rem, 100% 0, 100% 100%, 0 100%);
}

.Section--first::before {
  clip-path: polygon(0 0, 20vw 12rem, 100% calc(100% - 6rem), 100% 100%, 0 100%);
}

.Section--odd::before {
  clip-path: polygon(0 0, 20vw 12rem, 100% calc(100% - 6rem), 100% 100%, 0 100%);
}

.Section__content {
  max-width: calc(1200px + 2.8rem);
  margin: 0 auto;
  padding: 10rem 2.8rem 15rem 2.8rem;
}

