.slider {
    color: white;
}

.slider__navbar {
    position: relative;
    height: 4rem;
    margin-top: 4rem;
}

.slider-container {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 5%;
    width: 90%;
    overflow-x: hidden;
    display: flex;
    scroll-behavior: smooth;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.btn {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.child {
    padding-left: 1.5em;
    min-width: 6.5rem;
    height: 4rem;
    margin-right: 3rem;
    color: white;
}

.child__active {
    border-top: 0.05rem solid;
    border-bottom: 0.05rem solid;
    animation: border__load 1s;
}

@keyframes border__load {
    from {
        border-color: #052431
    }

    to {
        border-color: white
    }
}

.child h2 {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
}

.Slider__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;

}

.slider__active {
    animation: load 1s;
}

@keyframes load {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.slider__content {
    margin: auto 0 auto 0;
    width: 70%;
    color: #fff;
    text-align: left;
}

.slider__content h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.slider__content p {
    margin-right: 4rem;
    font-size: 1.1em;
    text-align: justify;
}

.slider__image {
    width: 30%;
}