.Switch{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.Switch button{
  background: none;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 500;
  opacity: 0.66;
}

.Switch button::before{
  background: #fff;
  bottom: -0.5em;
  content: '';
  height: 1px;
  left: calc(50% - 2.5em);
  position: absolute;
  transition: 0.2s ease;
  width: 0;
}

.Switch .active{
  opacity: 1;
  position: relative;
}

.Switch .active::before{
  background: #fff;
  bottom: -0.5em;
  content: '';
  height: 1px;
  left: calc(50% - 2.5em);
  position: absolute;
  width: 5em;
}